@import "mixins";

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.section-banner {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    &__container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 13;


        &__text {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 35px;
            text-align: center;
            color: #28367d;
            font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            text-wrap: nowrap;

            @include mobile {
                text-wrap: wrap;
                font-size: 40px;

            }
        }

        &__buttons-box {
            display: flex;
            flex-direction: row;
            margin-top: 50px;
            gap: 20px;

            @include mobile {
                flex-direction: column;
            }

        }
    }
}

.button {
    text-align: center;
    text-decoration: none;
    border-radius: 0;

    font-size: 14px;

    box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.3);
    transition: .33s all ease;
    text-transform: uppercase;

    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400
}

.rules {
    padding: 12px 25px;
    background-color: #000;
    color: #fff;

}

.rules:hover {
    color: #fff;
    background-color: #5D6CBE;
    border-color: #5D6CBE;
}

.submit {
    padding: 12px 50px;
    color: #fff;
    background-color: #000;
    border-color: #000;
    // background-color: #5D6CBE;
    // border-color: #5D6CBE;

    @include mobile {
        // margin: 0 25px 0 25px;
    }

}

.submit:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.autoflash {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.submit::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 150%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 40%, #5D6CBE 50%, rgba(255, 255, 255, 0) 60%);
    transition: all 0.4s ease;
    transform: skewX(-20deg);
    opacity: 0.8;
}

.submit.autoflash::before {
    animation: shine 4s ease-in-out infinite;
}

@keyframes shine {
    0% {
        left: -200%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}